<div class="row mt-5 ml-4 mr-4">
  <div class="col ml-4">
    <div class="yy-center-panel">
      <figure class="figure">
        <img src="assets/placeholder.svg" class="figure-img img-fluid rounded" alt="A generic square placeholder image with rounded corners in a figure." style="width:450px;">
        <div class="yy-panel-overlay">
          <div class="yy-panel-title">A title for the panel</div>
        </div>
        <figcaption class="figure-caption">A caption for the above image.</figcaption>
      </figure>
    </div>
  </div>
  <div class="col">
    <div class="yy-center-panel">
      <figure class="figure">
        <img src="assets/placeholder.svg" class="figure-img img-fluid rounded" alt="A generic square placeholder image with rounded corners in a figure." style="width:450px;">
        <div class="yy-panel-overlay">
          <div class="yy-panel-title">A title for the panel</div>
        </div>
        <figcaption class="figure-caption">A caption for the above image.</figcaption>
      </figure>
    </div>
  </div>  
  <div class="col mr-4">
    <div class="yy-center-panel">
      <figure class="figure">
        <img src="assets/placeholder.svg" class="figure-img img-fluid rounded" alt="A generic square placeholder image with rounded corners in a figure." style="width:450px;">
        <figcaption class="figure-caption">A caption for the above image.</figcaption>
        <div class="yy-panel-overlay">
          <div class="yy-panel-title">A title for the panel</div>
        </div>
      </figure>
    </div>
  </div>    
</div>