<div class="container-fluid">
  <h2>Start of something great!</h2>
</div>











<!--
Navbar
Banner here that swaps through images 
Underneath quote of the day 
filler content need to think 
Footer
-->