
<div class="test"></div>
<div id="yy-quote-holder" class="row mt-5">
  <div>
    <p><i>"Inspiring quote goes here"</i></p>
  </div>
  <div>
    <p><i>"Inspiring quote goes here"</i></p>    
  </div>
</div>
<%= render partial: 'home/panels' %>
<h2>Start of something great!</h2>











<!--
Navbar
Banner here that swaps through images 
Underneath quote of the day 
filler content need to think 
Footer
-->

<!-- 
Anoter idea
Navbar
content
quote/question of the day get soemf rom classroom of the elite potential for a gem
panels - make them slide along with jquery 
footer somehow
-->