<!DOCTYPE html>
<html>
  <head>
    <title>YamiYoru</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div id="yy-nav">
      <div class="row no-margin">
        <div class="yy-nav-half">
          <div class="row in-10 no-margin">
            <div class="yy-nav-inner-hold">
            <span class="yy-nav-span">Home</span>
            </div>
            <div class="yy-nav-inner-hold">
              <span class="yy-nav-span">Blog</span>
            </div>
          </div>
        </div>
        <div class="yy-nav-middle">
          <div class="yy-nav-middle-item"></div>
        </div>
        <div class="yy-nav-half">
          <div class="row in-10 no-margin">
            <div class="yy-nav-inner-hold">
              <span class="yy-nav-span">Contact</span>
            </div>
            <div class="yy-nav-inner-hold">
              <span class="yy-nav-span">Login</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container-fluid">
      <%= yield %>    
    </div>
  </body>
</html>
